%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?

  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
  %p= "This movie has #{ pluralize(@movie.likes.count, 'like') }"

  - if current_user.present?
    = render 'comments/form'
    = render 'likes/like'

- else
  %h3 Login to add comments
  %br
= render 'comments/comments'
