%h1= @movie.title
= "Average movie rating: #{ @average_rating }" if @average_rating.present?
.jumbotron
  %p= @movie.description

.jumbotron
  - if @movie.movie_found?
    %p Detailed plot line:
    %p= @movie.plot
    %p= "Average rating of the movie: #{@movie.rating}"
    %img(src="https://pairguru-api.herokuapp.com/#{@movie.poster}")
  - else
    %p Sorry, we couldn't find this movie in our database!
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
  %p= "This movie has #{ pluralize(@movie.likes.count, 'like') }"

  - if current_user.present?
    = render 'ratings/form'
    = render 'comments/form'
    = render 'likes/like'
    = render 'movies/change_form'

- else
  %h3 Login to add comments
  %br
= render 'comments/comments'
