%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'

  - if @user_comment.present?
    = render 'movies/user_comment'
  - else
    = render 'comments/form'
- else
  %h3 Login to add comments
  %br
= render 'movies/comments'
